#!/bin/bash

#this is an example configuration file made by this script. It's the first thing the main script runs. It controls the behavior of the script.

#

	echo "loading user variables" #structure and determine auto mode to determine what these variables are to be
	Method='default'
	S_Update='y'
	T_Update='y'
	C_Erase='y'
	C_Update='y'
	F_Default='y'
	Net_Scan='n'
	F_White_Port='n'
	port='993 6969 53 http https 465 587'
	Hard_Audit='y'
	Pen_Audit='y'
	###################stop include here
	A_Whitelist='n'
	Log_Enable='n'
	Hash='n'
	Vuln_Scan='n'
	Mon_Scan='n'
	U_White='n'
	U_Mon='n'
	Host_Mon='n'
	Scan_Detect='n'
	Honey_Creds='n'
	P_Cap='n'
	Snort='n'
	Honey_Ports='n'
	Honey_Hash='n'
	Scan_Frag='n'
	Priv_Frag='n'
	Scan_Resp='n'
	Trap_Monitor='n'
	Trap_Ban='n'
	Trap_Report='n'
	Auto_Response='n'
